<div>
    <label>בחר אזור: </label>
    <select (change)="getSites($event)">
        <option value="" disabled selected>בחר...</option>
        <option *ngFor="let a of areas" [value]="a._id">{{a.areaName}}</option>
    </select>

    <br><br>

    <table>
        <thead>
            <tr>
                <th>שם האתר</th>
                <th>תיאור</th>
                <th>אזור</th>
                <th>מחיר למבוגר</th>
                <th>מחיר לילד</th>
                <th>מחיקה</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of sites">
                <td>{{s.siteName}}</td>
                <td>{{s.description}}</td>
                <td>{{s.area.areaName}}</td>
                <td>{{s.adultPrice}}</td>
                <td>{{s.childPrice}}</td>
                <td><button (click)="deleteSite(s._id)">🗑</button></td>
            </tr>
        </tbody>

    </table>
</div>