form {
    width: 250px;
    border: 1px solid;
    padding: 10px;
    margin: auto;
    text-align: right;
    border-radius: 10px;
}

select, input, button {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}