.image-size {
    height: 170px;
}

.mat-card-title {
    font-size: 14px !important;
}

.mat-card {
    background: rgb(249, 247, 247);
    box-shadow: none;
}

.mat-card-header {
    display: inline-block !important;
}

.add-btn,
.edit-btn {
    background-color: rgb(17, 45, 78);
    color: rgb(249, 247, 247);
}

.overflow {
    width: 124px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box {
    display: inline-block;
    margin: 10px;
    border-radius: 3px;
    text-align: center;
    width: 195px;
  }
  
  .box:hover {
    box-shadow: 2px 4px 3px grey;
    cursor: pointer;
  }